<%= stylesheet_link_tag 'items', media: 'all', 'data-turbolinks-track': 'reload' %>

<% @items.each do |item| %>
  <%= link_to(item_path(item.id)) do %>
    <div class="item_card">
      <div><%= item.title %></div>
      <div><%= item.comment %></div>
      <div><%= item.url %></div>
    </div>
  <% end %>
<% end %>

<%= link_to(new_item_path) do%>
  <div class="material-icons add_box">add_box</div>
<% end %>

<%= javascript_pack_tag 'items', 'data-turbolinks-track': 'reload' %>