<div>新しいアイテムを追加</div>
<br/><br/>
<%= form_with scope: :item, url: items_path, local: true do |form| %>
  <p>
    <%= form.label :title, 'タイトル' %><br/>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :comment, 'コメント' %><br>
    <%= form.text_area :comment %>
  </p>

  <%= fields_for :tag do |tag_form| %>
    <p>
      <%= tag_form.label :tag_1, 'タグ1' %><br>
      <%= tag_form.text_area :tag_1 %>
    </p>

    <p>
      <%= tag_form.label :tag_2, 'タグ2' %><br>
      <%= tag_form.text_area :tag_2 %>
    </p>
  <% end %>

  <p>
    <%= form.label :url, 'URL' %><br>
    <%= form.text_area :url %>
  </p>

  <%= fields_for :photo do |photo_form| %>
    <p>
      <%= photo_form.label :image, '画像' %>
      <%= photo_form.file_field :image %>
    </p>
  <% end %>

  <p>
    <%= form.submit %>
  </p>
<% end %>