<!DOCTYPE html>
<html>
  <head>
    <title>HolidayPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="header_container">
        <%= link_to image_tag('logo.png', class:'header_logo'), root_path %>
      </div>
    </header>
    <div class="container">
      <div class="inner_container">
        <%= yield %>
      </div>
    </div>
    <footer>
      <div class="footer_container">
        <div class='footer_logo'>Holiday Planner</div>
      </div>
    </footer>
  </body>
</html>
